@font-face {
  font-family: "nuevafuente";
  src: url(./fuentes/opensans.ttf) format("truetype");
}

h2, h3 {
  font-family: "nuevafuente";
  color: #15379c;
}

body {background-color: #fffcad; text-align: center;
}

nav {
  font-size: 25px;
  color: #20c1d8;
}

ul, ol, li {
  font-size: 17px;
  font-family: "nuevafuente";
  color: #20c1d8;
  list-style-position: inside;
}

p, footer {
  font-size: 17px;
  font-family: sans-serif;
  color:  #1d7ac7;
}

.rosa {
  color: pink;
  font-weight: bolder;
  font-size: 25px;
  font-family: "nuevafuente";
}


.cocina {
  width: 7%;
  height: 7%;
  padding-top: 1%;
}

a {
  text-decoration: none;
  font-family: "nuevafuente";
}

a:hover {
  color: pink;
  cursor: pointer;
}

.icon-whatsapp {
  position:fixed;
  bottom: 7%;
  right: 3%;
  color: #00bb2d;
  background-color: #fffcad;
}

footer {
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  width: 65%;
  padding-left: 3%;
}

section {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  align-items: flex-start;
  flex-direction: column;
}

h1 {
  text-decoration: none;
  font-family: "nuevafuente";
  color: #15379c;
}

.icons {
  padding-top: 2%;
}

.iconftr {
  padding-top: 3%;
}

.recetas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.crepes {
  display: flex;
  height: inherit;
  width: inherit;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.titulo {
  text-align: left;
}

.panqueque {
  margin-top: 10%;
}

@media (max-width: 800px) {

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    padding: 0px;
    margin: 0px;
  }

  .principal {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  aside {
    display: none;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .crepes {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  .video {
    display: none;
}
  .crepes2 {
    display: flex;
    align-items: center;
    width: 100vw;
}
  .icon-whatsapp {
    position:fixed;
    bottom: 7%;
    right: 3%;
    color: #00bb2d;
    background-color: #fffcad;
}
}

@media (min-width: 800px) {

  .crepes2 {
    display: none;
}
}

@media (max-width: 800px) and (orientation: landscape) {
  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    padding: 0px;
    margin: 0px;
  }

  .principal {
    padding-left: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  aside {
    display: none;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }

  .crepes {
    display: flex;
    flex-direction: column;
    width: 100%;
}

  .crepes2 {
    display: none;
}
  .icon-whatsapp {
    position:fixed;
    bottom: 7%;
    right: 3%;
    color: #00bb2d;
    background-color: #fffcad;
}
  .video {
   height: 100vw;
   width: 100vw;
}
}
